

<!DOCTYPE html>
<html lang=en>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <title>Defect management</title>
</head>

<body>
        <nav class="sb-topnav navbar navbar-expand navbar-light sticky-top" style="padding-left: 0; padding-top: 0; padding-bottom: 0; z-index: 1040;">
            <a class="navbar-brand" href="" style="padding: 0;"><img class="logo" src="defect_management/src/components/quality_homepage/images.png" alt="Atlas Copco" width="auto" height="56px"></a> <a class="logout-button pl-3" id="sidebarToggle"><i class="fas fa-bars"style="color:black"></i></a>
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                        <form>
                            <a class="logout-button" type="button" name="logout-btn" href="{% url 'logout' %}"><i class="fas fa-power-off fa-2x"></i></a>
                        </form>
                </li>
            </ul>
        </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="profile_info pb-">
                            <i class="fas fa-user-circle fa-3x pb-"style="color:white"></i>
                            <h4 class="profile-info-text pt-2">Employee Name</h4>
                            <h4 class="profile-info-text pb-3" style="font-size: small;">Concerned Department</h4>
							<small class ="profile-info-text pb-3"><a href="" class="edit_profile">Edit Profile</a></small>
                        </div><br>
                        <a class="pt-3 nav-link" href="con_homepage.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Dashboard<br>
                        </a>
                        <a class="pt-3 nav-link" href="solution.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-bug"></i></div>
                            Defect Solution <br>
                        </a>
                       
                        <a class="nav-link" href="con_notification.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-comment"></i></div>
                            Notifications
                        </a>
						
						<a class="pt-3 nav-link" href="disapproved.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-exclamation"></i></div>
                            Disapproved Solutions <br>
                        </a>
						
                        <a class="nav-link" href="">
                            <div class="sb-nav-link-icon"><i class="fa fa-file"></i></div>
                            Analysis Report
                        </a>
						<a class="pt-3 nav-link" href="">
                            <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                            Preventive Measures<br>
                        </a>
                    </div>
                </div>
                <div class="small">
                    <div class="text-muted p-2 pb-2">Copyright &copy; Fluid Control 2020</div>
                </div>
            </nav>
        </div>
        
        <div id="layoutSidenav_content">
			<main style="margin-top: 30px;">
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="text-right mb-3">
                                <form method="post">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search Defect or Defect ID or Found On Date in format DD-MM-YYYY" class="form-control" name="search" {% if search_query %}value="{{ search_query }}"{% endif %}>
                                        <div class="input-group-append">
                                            <input class="btn btn-outline-dark" type="hidden">
                                            <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i> Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th> Defect ID </th>
                                            <th> Part Name  </th>
                                            <th> Description </th>
                                            <th> Found By </th>
                                            <th> Found On </th>
                                            <th> Assigned to </th>
                                            <th> Due Date </th>
                                            <th> Solution </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Turbine</td>
                                            <td>Motar issue</td>
                                            <td>ABC</td>
                                            <td>7/09/201</td>
                                            <td>XYZ</td>
                                            <td>19/09/21</td>
                                            <td>
                                                <a href="solution.html" class="btn btn-outline-info">Write</a>
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
		</div>
    </div>

    <script>
        (function($) {
            "use strict";

            // Add active state to sidbar nav links
            var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
            $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function() {
                if (this.href === path) {
                    $(this).addClass("active");
                }
            });

            // Toggle the side navigation
            $("#sidebarToggle").on("click", function(e) {
                e.preventDefault();
                $("body").toggleClass("sb-sidenav-toggled");
            });
        })(jQuery);
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</body>

</html>